# **DS 6021: Homework 0**
## **Randa Ampah**

## **Importing and Exploring Data**

In [32]:
import pandas as pd

df = pd.read_csv('MSDS25_ Class Data (Responses) - Form Responses 1.csv')

In [33]:
df.head()

,Timestamp,phone_type,undergrad_major,num_cups,sleep_hrs,fav_sports,ds_skills,outdoor_hrs,ai_tools_use,ideal_temp,phone_hrs,music_while_studying,music_genre,num_states,fav_season,study_env,summer_desc
0,8/27/2025 10:05:16,Mac,Applied & Computational Mathematics,0,7,Football,7,2,Often,68,3 hours,Yes,Pop,39,Fall,Dorm,Crazy
1,8/27/2025 10:05:19,Mac,Economics,1-2,7,Soccer,6,1,Sometimes,75,5,Yes,EDM/House,20,Summer,Library,Unreal
2,8/27/2025 10:05:19,Mac,Industrial engineering,1 to 2,6,Basketball,6,3 to 4,Always,68,2 to 3,No,Techno,6,Fall,Home,Amazing
3,8/27/2025 10:05:24,Mac,Economics,1,7,Football,3,2,NaN,70,4,Yes,Rock,43,Spring,Outdoors,Interesting
4,8/27/2025 10:05:27,Mac,Biology,5,8,College football,5,3,Sometimes,65,5,Yes,Country/Folk,15,Fall,Library,Fantastic

In [34]:
df.columns

Index(['Timestamp', 'phone_type', 'undergrad_major', 'num_cups', 'sleep_hrs',
       'fav_sports', 'ds_skills', 'outdoor_hrs', 'ai_tools_use', 'ideal_temp',
       'phone_hrs', 'music_while_studying', 'music_genre', 'num_states',
       'fav_season', 'study_env', 'summer_desc'],
      dtype='object')

In [35]:
df.dtypes

Timestamp               object
phone_type              object
undergrad_major         object
num_cups                object
sleep_hrs               object
fav_sports              object
ds_skills               object
outdoor_hrs             object
ai_tools_use            object
ideal_temp              object
phone_hrs               object
music_while_studying    object
music_genre             object
num_states               int64
fav_season              object
study_env               object
summer_desc             object
dtype: object

## **Data Cleaning**

### Phone Type

In [36]:
## Phone Type

# Change "Mac" phone type to "iPhone" (correct name)
df['phone_type'] = df['phone_type'].str.replace('Mac','iPhone')
df['phone_type'].unique()

array(['iPhone', 'Android'], dtype=object)

In [37]:
df.head()

,Timestamp,phone_type,undergrad_major,num_cups,sleep_hrs,fav_sports,ds_skills,outdoor_hrs,ai_tools_use,ideal_temp,phone_hrs,music_while_studying,music_genre,num_states,fav_season,study_env,summer_desc
0,8/27/2025 10:05:16,iPhone,Applied & Computational Mathematics,0,7,Football,7,2,Often,68,3 hours,Yes,Pop,39,Fall,Dorm,Crazy
1,8/27/2025 10:05:19,iPhone,Economics,1-2,7,Soccer,6,1,Sometimes,75,5,Yes,EDM/House,20,Summer,Library,Unreal
2,8/27/2025 10:05:19,iPhone,Industrial engineering,1 to 2,6,Basketball,6,3 to 4,Always,68,2 to 3,No,Techno,6,Fall,Home,Amazing
3,8/27/2025 10:05:24,iPhone,Economics,1,7,Football,3,2,NaN,70,4,Yes,Rock,43,Spring,Outdoors,Interesting
4,8/27/2025 10:05:27,iPhone,Biology,5,8,College football,5,3,Sometimes,65,5,Yes,Country/Folk,15,Fall,Library,Fantastic

### Undergrad Major

In [38]:

df['undergrad_major'].unique()

# making values uniform
df['undergrad_major'] = df['undergrad_major'].str.lower()
df['undergrad_major'] = df['undergrad_major'].str.strip()

# Condensing specific concentrations of majors to general major area

df['undergrad_major'][df['undergrad_major'].str.contains('engineering')] = 'engineering'
df['undergrad_major'][df['undergrad_major'].str.contains('computer science')] = 'computer science'
df['undergrad_major'][df['undergrad_major'].str.contains('data science')] = 'data science'
df['undergrad_major'][df['undergrad_major'].str.contains('biology')] = 'biology'
df['undergrad_major'][df['undergrad_major'].str.contains('math')] = 'math'
df['undergrad_major'][df['undergrad_major'].str.contains('business')] = 'business'
df['undergrad_major'][df['undergrad_major'].str.contains('physics')] = 'physics'
df['undergrad_major'][df['undergrad_major'].str.contains('applied statistics')] = 'statistics'

# fixing unique values
df['undergrad_major'] = df['undergrad_major'].replace('ds','data science')

df['undergrad_major'].value_counts()

/var/folders/1z/t_vl0dx95552hzn7xv8z08sm0000gn/T/ipykernel_45411/2964303367.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['undergrad_major'][df['undergrad_major'].str.contains('engineering')] = 'engineering'
/var/folders/1z/t_vl0dx95552hzn7xv8z08sm0000gn/T/ipykernel_45411/2964303367.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['undergrad_major'][df['undergrad_major'].str.contains('computer science')] = 'computer science'
/var/folders/1z/t_vl0dx95552hzn7xv8z08sm0000gn/T/ipykernel_45411/2964303367.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['undergrad_major'][df['undergrad_major'].str.contains('data science')] = 'data science'
/var/folders/1z/t_vl0dx95552hzn7xv8z08sm0000gn/T/ipykernel_45411/2964303367.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['undergrad_major'][df['undergrad_major'].str.contains('biology')] = 'biology'
/var/folders/1z/t_vl0dx95552hzn7xv8z08sm0000gn/T/ipykernel_45411/2964303367.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['undergrad_major'][df['undergrad_major'].str.contains('math')] = 'math'
/var/folders/1z/t_vl0dx95552hzn7xv8z08sm0000gn/T/ipykernel_45411/2964303367.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['undergrad_major'][df['undergrad_major'].str.contains('business')] = 'business'
/var/folders/1z/t_vl0dx95552hzn7xv8z08sm0000gn/T/ipykernel_45411/2964303367.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['undergrad_major'][df['undergrad_major'].str.contains('physics')] = 'physics'
/var/folders/1z/t_vl0dx95552hzn7xv8z08sm0000gn/T/ipykernel_45411/2964303367.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['undergrad_major'][df['undergrad_major'].str.contains('applied statistics')] = 'statistics'

undergrad_major
statistics                                                    19
engineering                                                   15
computer science                                              13
economics                                                      6
data science                                                   5
commerce                                                       4
math                                                           3
biology                                                        3
business                                                       2
physics                                                        2
psychology                                                     2
public policy                                                  2
accounting                                                     2
sport analytics                                                1
digital narrative and interactive design                       1
anthropology                                                   1
fine arts                                                      1
game design & development                                      1
special education                                              1
environmental science and environmental thought & practice     1
history/ american studies                                      1
information science                                            1
cognitive science                                              1
international affairs                                          1
foreign affairs                                                1
Name: count, dtype: int64

### Number of Coffee Cups

In [10]:
num_cups = df['num_cups']
num_cups.unique()

array(['0', '1-2', '1 to 2', '1', '5', '2', 'One', '4', '1-2 ',
       'I only drink coffee if it’s really sweet. I am usually a can of soda girl',
       '3', '0.5',
       'y = mx+b where b is 1 coffee and m is correlated to sleep the night before. On average, I have about 2.5 total (y). ',
       '1.5', 'usually 0 but like to treat myself to 1 ', '0-1',
       '2 (coffee)', '6', '100mg of caffeine',
       '4 cups of tea in the morning per day'], dtype=object)

In [11]:

num_cups = num_cups.replace(['I only drink coffee if it’s really sweet. I am usually a can of soda girl',
                             '4 cups of tea in the morning per day'], 0, regex=False )

# rounding all in between values up
num_cups = num_cups.replace('y = mx+b where b is 1 coffee and m is correlated to sleep the night before. On average, I have about 2.5 total (y). ', 3)
num_cups = num_cups.replace(['0-1','One','usually 0 but like to treat myself to 1 ','0.5','100mg of caffeine'])
num_cups = num_cups.replace(['1-2','1-2 ','1 to 2','1.5','2 (coffee)'], 2)

# change data type 
df['num_cups'] = pd.to_numeric(num_cups)

/var/folders/1z/t_vl0dx95552hzn7xv8z08sm0000gn/T/ipykernel_45411/1341054352.py:6: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  num_cups = num_cups.replace(['0-1','One','usually 0 but like to treat myself to 1 ','0.5','100mg of caffeine'])

In [12]:
df['num_cups'].unique()
df['num_cups'].value_counts()

num_cups
0    35
1    25
2    21
3     5
6     2
5     1
4     1
Name: count, dtype: int64

### Sleep Hours

In [13]:
df['sleep_hrs'].value_counts()

sleep_hrs
7                         31
8                         23
6                          7
9                          6
7-8                        3
4                          2
8-10                       2
6-7                        2
8.5                        2
6-7:30                     1
7.5                        1
5.5                        1
7-9                        1
Not enough 🥺 maybe 4-6     1
8h                         1
Not enough.                1
6,7                        1
6-8                        1
10                         1
6.5                        1
7 hours                    1
Name: count, dtype: int64

In [14]:
sleep = df['sleep_hrs'].str.strip()
sleep.unique()

array(['7', '6', '8', '4', '8-10', '6.5', '6-7', '7-8', '10', '6-8', '8h',
       '6,7', '9', '8.5', 'Not enough.', '6-7:30',
       'Not enough 🥺 maybe 4-6', '7-9', '5.5', '7.5', '7 hours'],
      dtype=object)

In [15]:
sleep = df['sleep_hrs'].str.strip()

sleep = sleep.replace('Not enough.', None)
sleep = sleep.replace('Not enough 🥺 maybe 4-6', 6)
sleep = sleep.replace(['6-7','6,7','7 hours'], 7)
sleep = sleep.replace('6-7:30', 7.5)
sleep = sleep.replace(['7-8','6-8','8h'], 8)
sleep = sleep.replace('7-9', 9)
sleep = sleep.replace( '8-10', 10)

In [16]:
sleep.unique()

array(['7', '6', '8', '4', 10, '6.5', 7, 8, '10', '9', '8.5', None, 7.5,
       6, 9, '5.5', '7.5'], dtype=object)

In [17]:
sleep = pd.to_numeric(sleep)
sleep.value_counts(dropna=False)

df['sleep_hrs'] = sleep

### Favorite Sports

In [18]:
# making format universal
sport = df['fav_sports'].str.lower().str.strip()
sport.value_counts()

fav_sports
basketball                                   21
football                                     14
soccer                                       13
baseball                                      5
tennis                                        3
hockey                                        2
college basketball                            2
track n field                                 1
basketball or beach volleyball                1
i rarely watch tv but enjoy video games 😁     1
nfl football                                  1
soccer or f1                                  1
volleyball                                    1
golf                                          1
cornhole                                      1
olympic women’s gymnastics                    1
supercross                                    1
swimming and football (close)                 1
hurling                                       1
american football                             1
soccer?                                       1
none i watch reality tv                       1
golf or soccer                                1
i don’t usually watch sports                  1
hockey (if i ever watch sports)               1
track & field                                 1
snooker                                       1
f1                                            1
formula 1                                     1
college football                              1
men’s volleyball                              1
Name: count, dtype: int64

In [19]:
type(sport)
df.loc[88]

Timestamp                  8/27/2025 11:08:44
phone_type                             iPhone
undergrad_major                    statistics
num_cups                                    0
sleep_hrs                                 7.0
fav_sports                                NaN
ds_skills                                   5
outdoor_hrs                                 1
ai_tools_use                        Sometimes
ideal_temp                                 65
phone_hrs                                   8
music_while_studying                      Yes
music_genre                               All
num_states                                 16
fav_season                             Summer
study_env               quiet, indoors, sunny
summer_desc                              Busy
Name: 88, dtype: object

In [20]:
sport = sport.fillna('no favorite')

sport[sport.str.contains('basketball')] = 'basketball'
sport[sport.str.contains('volleyball')] = 'volleyball'
sport[sport.str.contains('football')] = 'football'
sport[sport.str.contains('hockey')] = 'hockey'
sport[sport.str.contains('track')] = 'track'
sport[sport.str.contains('golf')] = 'golf'
sport[sport.str.contains('soccer')] = 'soccer'

sport = sport.replace(['i rarely watch tv but enjoy video games 😁',
                       'none i watch reality tv',
                       'i don’t usually watch sports'], None)

sport = sport.replace('olympic women’s gymnastics','gymnastics')
sport = sport.replace('f1','formula 1')

In [21]:
sport.value_counts()

fav_sports
basketball     24
football       18
soccer         15
no favorite     6
baseball        5
tennis          3
hockey          3
formula 1       2
track           2
golf            2
volleyball      2
snooker         1
hurling         1
cornhole        1
gymnastics      1
supercross      1
Name: count, dtype: int64

In [22]:
df['fav_sports'] = sport

### Hours Outdoors

In [23]:
outdoors = df['outdoor_hrs'].str.strip()

outdoors.value_counts()

outdoor_hrs
2                     28
3                     18
1                     16
4                     12
0.5                    2
5                      2
7                      2
3 to 4                 1
1-2                    1
2ish                   1
1h                     1
1,2                    1
0.5-1                  1
1-3                    1
As few as possible     1
1 hour                 1
Name: count, dtype: int64

In [24]:
outdoors = outdoors.replace('As few as possible', 0)
outdoors = outdoors.replace(['1h','0.5-1','1 hour'],1)
outdoors = outdoors.replace(['1-2','1,2','2ish'],2)
outdoors = outdoors.replace('1-3', 3)
outdoors = outdoors.replace('3 to 4', 4)

outdoors = pd.to_numeric(outdoors)

In [25]:
outdoors.value_counts()

outdoor_hrs
2.0    31
1.0    19
3.0    19
4.0    13
0.5     2
5.0     2
7.0     2
0.0     1
Name: count, dtype: int64

In [26]:
df['outdoor_hrs'] = outdoors

### AI Tool Usage

In [27]:
ai = df['ai_tools_use'].str.lower()

ai.value_counts(dropna=False)

ai_tools_use
often        39
sometimes    29
rarely       10
always        8
never         3
NaN           1
Name: count, dtype: int64

In [ ]:
# assume missing values are 'never'
ai = ai.fillna('never')

In [29]:
ai.value_counts()

ai_tools_use
often        39
sometimes    29
rarely       10
always        8
never         4
Name: count, dtype: int64

In [30]:
df['ai_tools_use'] = ai

### Ideal Temperature

In [ ]:
temp = df['ideal_temp']
temp.value_counts()

# picking temperatures base on numeric values given
temp = temp.replace('[A-Za-z]','',regex=True).str.strip()

df['ideal_temp'] = pd.to_numeric(temp)

### Phone Hours

In [210]:
phone = df['phone_hrs'].str.strip()
phone.value_counts(dropna=False)

phone_hrs
4                         18
8                         12
5                         11
6                          6
7                          5
2                          4
3                          3
4.5                        2
3.5                        2
7.5                        2
3 hours                    1
5.5 hrs                    1
10                         1
9 hours                    1
4 hours                    1
2.6                        1
8.5                        1
5.5                        1
5 hours                    1
2.5 hours                  1
2hr 59min                  1
3-4                        1
probably 4-6               1
6 hours and 38 minutes     1
4h                         1
1.25                       1
2.5                        1
5:45                       1
6.5                        1
2hrs 58min                 1
9                          1
7 hours                    1
18                         1
2 to 3                     1
1 hour 46 minutes          1
Name: count, dtype: int64

In [ ]:
# rounding all values up
phone = phone.replace(['1 hour 46 minutes','1.25'], 2)
phone = phone.replace(['3 hours','2hr 59min','2.5','2hrs 58min','2 to 3',"2.5 hours",'2.6'], 3)
phone = phone.replace(['3.5','3-4','4 hours','4h'], 4)
phone = phone.replace(['4.5','5 hours',], 5)
phone = phone.replace(['5.5','5:45','5.5 hrs', "probably 4-6"], 6)
phone = phone.replace(['7 hours','6 hours and 38 minutes','6.5'], 7)
phone = phone.replace('7.5', 8)
phone = phone.replace(['9 hours','8.5'], 9)

In [225]:
phone.value_counts()

phone_hrs
4     18
8     12
5     11
3      7
6      6
4      5
7      5
2      4
6      4
7      3
5      3
3      3
8      2
2      2
9      2
9      1
18     1
10     1
Name: count, dtype: int64

In [227]:
df['phone_hrs'] = pd.to_numeric(phone)

### Music While Studying

In [228]:
music = df['music_while_studying']
music.value_counts()

music_while_studying
Yes    56
No     34
Name: count, dtype: int64

### Music Genre

In [ ]:
# standardizing format
genre = df['music_genre'].str.lower().str.strip()

# changing missing values to 'no music
genre = genre.fillna('no music')

# checking progress
genre.value_counts(dropna=False)

music_genre
pop                                      14
rock                                      6
r&b                                       5
rap                                       4
indie                                     4
country                                   4
rnb                                       3
jazz                                      3
edm                                       3
hip-hop                                   2
classic rock                              2
reggaeton                                 2
alternative                               2
country/folk                              2
folk                                      2
funk/yacht rock                           1
80s pop                                   1
pop punk/riot grrl                        1
r&b but typically based on daily mood     1
bluegrass                                 1
soft pop                                  1
80s music                                 1
kpop                                      1
rock/pop                                  1
hip hop                                   1
no music                                  1
girly pop                                 1
jazz-pop                                  1
all                                       1
trap                                      1
folk rock                                 1
alt/indie                                 1
k-pop                                     1
instrumental                              1
indie pop                                 1
edm/house                                 1
hardcore/punk                             1
house                                     1
afrobeats                                 1
anything but country                      1
classical                                 1
alternative rock                          1
rock/metal                                1
rap/rock                                  1
rap/r&b                                   1
techno                                    1
classical piano music and pop music       1
Name: count, dtype: int64

In [289]:
genre[genre.str.contains('/')]

1              edm/house
4           country/folk
6                rap/r&b
12              rap/rock
19            rock/metal
37         hardcore/punk
54             alt/indie
55              rock/pop
61       funk/yacht rock
64    pop punk/riot grrl
75          country/folk
Name: music_genre, dtype: object

In [304]:
# generalze genres
genre[genre.str.contains('pop')] = 'pop'
genre[genre.str.contains('classical')] = 'classical'
genre[genre.str.contains('alt')] = 'alternative'

# choose first genre when 2 listed
genre = genre.replace(['rock','rock/pop','rock/metal'], 'rock')
genre = genre.replace(['rap/r&b','rap/rock'],'rap')
genre = genre.replace('country/folk','country')
genre = genre.replace('edm/house','edm')
genre = genre.replace('funk/yacht rock','funk')
genre = genre.replace('hardcore/punk', 'hardcore')

# combine similar answers
genre = genre.replace(['rnb', 'r&b but typically based on daily mood'], 'r&b')
genre = genre.replace('anything but country', 'all')
genre = genre.replace('hip hop', 'hip-hop')
genre[genre.str.contains('rock')] = 'rock'

genre.value_counts(dropna=False)

music_genre
pop             24
rock            10
r&b              9
country          6
rap              6
indie            4
edm              4
alternative      4
jazz             3
hip-hop          3
all              2
folk             2
reggaeton        2
instrumental     1
80s music        1
bluegrass        1
funk             1
trap             1
afrobeats        1
hardcore         1
house            1
classical        1
techno           1
no music         1
Name: count, dtype: int64

In [305]:
df['music_genre'] = genre

### Number of States Visited

### Favorite Season

### Study Environment

### Word to Describe Summer